* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo:first-letter {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  color: #1abc9c;
}

.logo {
  display: inline-block;
  font-size: 30px;
  font-family: "Roboto";
}

.header-main {
  width: 1110px;
  margin: auto;
  padding-top: 35px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 110px;
}

.site-navigation {
  list-style: none;
}

.site-navigation a:hover {
  color: #1abc9c;
}

nav {
  float: right;
}

.site-navigation li {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.site-navigation a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #0f0101;
  width: 335px;
  font-weight: bold;
}

.site-navigation li:not(:last-child) {
  margin-right: 30px;
}

/* main */
.featured-list {
  margin-top: 90px;
}

.image-shop {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.featured-list-item {
  float: left;
  margin: 0px 30px 30px 0px;
}

.main-content {
  width: 1110px;
  margin: auto;
  margin-bottom: 84px;
}

.featured-list-item {
  list-style: none;
}

.featured-list-item {
  width: 255px;

  background-color: #e9f0fd;
  text-decoration: none;
}

.featured-list-item:nth-child(4n) {
  margin-right: 0;
}

.header-shop-link {
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: left;
  padding: 0px 12px;
}

.header-shop {
  display: inline;
}

.bottom-shop {
  background-color: rgb(50, 50, 50);

  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
}

.featured-list-item:hover .bottom-shop {
  background-color: rgb(26, 188, 156);
  transition-duration: 220ms;
}

.price-shop {
  float: right;
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.778;
  text-align: center;
  padding: 0px 12px;
  background-color: rgba(255, 255, 255, 0.4);
}

.Section-title {
  font-size: 48px;
  font-family: "Roboto";
  color: rgb(81, 81, 81);

  text-align: center;
}

.Section-title::after {
  content: "";

  width: 164px;
  padding-bottom: 31px;
  margin-top: 26px;
  margin: 0 auto;
  border-bottom: 7px solid #1abc9c;
  display: block;
}

.news-list-item {
  float: left;
  margin-bottom: 15px;
  width: 347px;
}

.news-list-item a {
  font-size: 0px;
}

.news-list {
  list-style: none;
  padding-top: 80px;
}

.news-list-item:not(:last-child) {
  margin-right: 30px;
}

.news-sheet {
  margin-top: 100px;
}

.subtitle::after {
  content: "";
  width: 164px;
  padding-bottom: 15px;
  border-bottom: 4px solid #1abc9c;
  display: block;
}

.subtitle {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(85, 82, 82);
  line-height: 1.444;
}

.click {
  border-radius: 3px;
  background-color: rgb(78, 198, 171);
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.625;
  text-align: center;
  width: 160px;
  height: 51px;
  cursor: pointer;
}

.click-button {
  margin-top: 20px;
}

.news-list-item p {
  margin-top: 30px;
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(85, 82, 82);
  line-height: 1.857;
}
